.main-div {
  width: 95%;
  height: 48%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
i {
  /* color: black;
  background-color: black; */
}

.backward-div {
  width: 100%;
  height: 25px;
  /* background-color: brown; */
}
