.screen1 {
  width: 99%;
  height: 48%;
  background-color: white;
  border-radius: 4%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
